body {
	background-color:#c4d38f;
}

canvas {
	border:solid;
	position:absolute;
}


aside {
	width:200px;
	height:230px;
	float:left;
	font-style:italic; 
	font-size:0.8em;
}



h2 {
	position:relative;
	margin-top:220px;
}

.mainnav {
	position:absolute; 
	top:5px; 
	left:800px;
}

.mainnav ul li {
	list-style-image:url('../images/fougere.png');
}

footer {
	font-style:italic; 
	font-size:0.8em;
}


